__pycache__
.idea
venv

# Конфиг
config.py
# Модификаторы
mod.py

# Новые пользователи и таблицы
new.py
new_check.py

# Сохранения ходов и логов
games
battle_logs

# Заметки для разработки
Разработка

