	{% extends 'base.html' %}

	{% block content %}
	{{ super() }}

        <!-- <div id="timer">таймер автообновления 10 секунд. ОТКЛЮЧЕН</div> -->

<header>
    <!-- <div class="wrapper"> -->
        <!-- <div class="dashboard-turn two-block" style="margin-top: -44px;">
            <div id="year-turn">Год: 800 Ход: 1</div>
            <div id="end-turn-bool">Завершен ли ход</div>
            <button id="end-turn-btn" class="custom-btn end-turn-btn" style="margin-top: 5px; color: red;">Подтвердить ход</button>
            <div id="timer">таймер автообновления 10 секунд. ОТКЛЮЧЕН</div>
        </div> -->
    <!-- </div>  -->
</header>
<aside>
    <div style="margin-top: -24px;">
        <ul class="" style="color: black; outline: 2px solid #000; border: 3px solid #fff;">
            <li id="party-button" style="cursor: pointer; color: black;">О партии</li>
            <li id="settlement-button" style="cursor: pointer; color: black;">Поселение</li>
            <li id="map-button" style="cursor: pointer; color: black;">Карта</li>
            <li id="dynasty-button" style="cursor: pointer; color: black;">Династия</li>
            <li id="army-button" style="cursor: pointer; color: black;">Армия</li>
            <li id="players-button" style="cursor: pointer; color: black;">Игроки</li>
        </ul>
</aside>
<!-- <aside class="dashboard-turn players-stat aside_right"> -->
    <!-- <aside class="players-stat" style="margin-top: -64px;"> -->
     <!-- <div id="year-turn">Год: 800 Ход: 1</div>
     <div id="end-turn-bool">Завершен ли ход</div>
     <button id="end-turn-btn" class="custom-btn end-turn-btn" style="margin-top: 5px; color: red;">Подтвердить ход</button>
     <hr>
</aside>    -->
<section> 
    <!-- <aside class="aside_right dashboard-turn players-stat" style="margin-top: -64px;"> -->
    <!-- <div class="container" style="margin-top: 0;">
        <ul class="mainmenu two-block" style="background: gray;">
            <li id="party-button" style="cursor: pointer;">О партии</li>
            <li id="settlement-button" style="cursor: pointer;">Поселение</li>
            <li id="map-button" style="cursor: pointer;">Карта</li>
            <li id="dynasty-button" style="cursor: pointer;">Династия</li>
            <li id="army-button" style="cursor: pointer;">Армия</li>
            <li id="players-button" style="cursor: pointer;">Игроки</li>
        </ul> -->
        <div class="wrapper" style="outline: 2px solid #000; margin-left: 2px;">
            <div id="year-turn" class="two-block" style="color: black; margin-left: 5px;">Год: 800 Ход: 1</div>
            <div id="end-turn-btn" class="two-block" style="float:left; color: red;">Подтвердить ход</div>
        </div>

        <div class="dashboard">
            <div class="map-block">
                <!-- Карту отключим, слишком мелкая, и на ней ничего не видно -->
                <!-- <img src="static/image/map/map.png" alt="map"> -->

                <div class="container" style="margin-top: px;">

                    <div class="container" id="party-window">
                        <div id="player">Имя игрока</div>
                        <div id="game-id">Номер игры</div>
                        <div id="game-date">Время создания</div>
                        <div id="cur-num-players">Игроков:</div>
                        <div id="max-players">Макс. игроков:</div>
                        <div id="victory-conditions">Условия победы: Набрать 666 очков</div>
                        <div id="winners">Победитель(и): не определен</div>
                        <div id="win-points">Победные очки:</div>
                        <div id="year-turn">Год: 800 Ход: 1</div>
                        <div id="end-turn-bool">Завершен ли ход</div>            
                    </div>            
                    <div class="container" id="settlement-window">
                        <div id="province-name" style="text-align: center;">Игра не загрузилась</div>
                        <div id="gold"> </div>                                <div id="body-points">Очки действий:</div>
                
                        <div class="dashboard-resources stats-buildings">
                            <div style="margin-top: 2px; text-align: center;">Постройки</div>
                            <div>Ничего нет</div>            
                        </div>            
                        <div class="dashboard-resources stats-resources">            
                            <div style="margin-top: 2px; text-align: center;">Баланс ресурсов</div>
                            <div>Ничего нет</div>
                        </div>
                    </div>            
                    <div class="container" id="map-window">
                
                    </div>
                
                    <div class="container" id="dynasty-window">            
                        <div id="rank">Титул: 0</div>
                        <div id="gold"> </div>            
                        <div id="body-points">Очки действий:</div>
                    </div>            
                    <div class="container" id="army-window">
                
                    </div>            
                    <div class="container players-stat" id="players-window">
                
                    </div>            
                </div>
            </div>
            <div class="menu-block" >
                <!-- <div class="dashboard-turn players-stat">
                     <div id="year-turn">Год: 800 Ход: 1</div>
                     <div id="end-turn-bool">Завершен ли ход</div>
                     <button id="end-turn-btn" class="custom-btn end-turn-btn" style="margin-top: 5px; color: red;">Подтвердить ход</button>                     
                </div>    -->
                <div class="menu-buttons menu-buttons-main"  id="main-menu-buttons">
                    <button class="custom-btn btn-15" id="menu-build">Строительство</button>
                    <button class="custom-btn btn-15" id="menu-trade">Торговля</button>
                    <button class="custom-btn btn-15" id="menu-decision">Решения</button>
                    <button class="custom-btn btn-15" id="menu-diplomaty">Дипломатия</button>
                </div>
                <div class="menu-buttons menu-buttons-build" id="menu-buttons-build">
                    <button class="custom-btn btn-15" id="menu-new-building">Постройки</button>
                    <button class="custom-btn btn-15 menu-exit">Выход</button>
                </div>
                <div class="menu-buttons menu-buttons-trade" id="menu-buttons-trade">
                    <div class="menu-buttons-choose" id="menu-buttons-show-trade">
                    </div>
                </div>
                <div>
                    <div class="choose-list"> <!-- Возможно лучше скрыть -->
                        <div class="menu-buttons-choose" id="menu-buttons-choose">
                            <!-- Для отображения кнопок выбора новых пунктов в меню, строительство и торговля -->
                        </div>
                    </div>
                </div>
                <!-- Решения -->
                <div class="menu-buttons menu-buttons-decision" id="menu-buttons-decision">
                    <!-- <button class="custom-btn btn-15" id="buy-title">Купить титул</button> -->
                    <button class="custom-btn btn-15" id="make-donation">Раздать деньги</dbuttoniv>
                    <button class="custom-btn btn-15 menu-exit">Выход</button>
                </div>
                <!-- Дипломатия. Тут статистика игроков -->
                <div class="menu-buttons menu-buttons-diplomaty" id="menu-buttons-diplomaty">
                    <!-- <div class="menu-btn menu-exit">Выход</div> -->
                    <div class="menu-buttons-choose" id="menu-buttons-show-diplomaty">
                        <!-- Для отображения кнопок выбора новых пунктов в меню, строительство и торговля -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="stats">
            <div class="dashboard-resources stats-settlement">
                <div style="margin-top: 2px; text-align: center;" id="settlement-name" >Поселение</div>
                <div class="wrapper">
                    <div class="two-block" style="float: left;">Население: </div>
                    <div class="two-block" id="population" style="margin-left: auto; margin-right: 0;">? 500</div>
                </div>
                <div class="wrapper">
                    <div class="two-block" style="float: left;">Благосостояние: </div>
                    <div class="two-block" style="float: left;"> </div>
                    <div class="two-block" id="populationGold" style="margin-left: auto; margin-right: 0;">? Бедное</div>
                </div>

            </div>
            <div class="dashboard-resources stats-dynasty">
                <div style="margin-top: 2px; text-align: center;" id="dynasty-name" >Игрок</div>
            </div>
            <div class="dashboard-resources stats-army">
                <div style="margin-top: 2px; text-align: center;" id="army-name" >Армия</div>
            </div>
        </div>
    </div>

    <!-- Логи -->
    <div class="container">
        <div class="container-act-logs">
            <div class="logs"> 
                <div id="logs"></div>
                <p></p>
                <!-- <input type="button" value="Отменить последний приказ" id="cancel-act" style="float: right; margin-top: 15px;"> -->
                <!-- <input type="button" value="Отменить все приказы" id="cancel-all-acts" style="float: right;"> -->
                <button style="font-size: 12px; margin-top: 5px;" id="cancel-act">Отменить последний приказ</button>
                <button style="font-size: 12px; margin-top: 5px;" id="cancel-all-acts">Отменить все приказы</button>
            </div>
        </div>
        <div class="container-local-logs">
            <div class="logs"> 
                <button style="font-size: 14px;" id="show_all_logs_party_players">Посмотреть логи всех ваших ходов</button>
                <div id="logs-result"></div>
            </div>
        </div>
        <div class="container-all-logs">
            <div class="logs"> 
                <button style="font-size: 14px;" id="show_all_logs_party">Посмотреть логи всех ходов</button>
                <div id="all-logs-result"></div>
            </div>
        </div>
    </div>
</section>

<!-- Модалка -->
<div id="my-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="show-content">

        </div>
        
    </div>
</div> 

        <script src="{{ url_for('static', filename='js/game.js') }}"></script>
        <script src="{{ url_for('static', filename='js/nav.js') }}"></script>

	{% endblock %}