{% extends 'base.html' %}

{% block content %}
{{ super() }}


<div class="container" style="font-size: 17px; margin-top: 30px;">
    <!-- <div>Планируется:</div> -->
    <table border="1">
        <!-- <tr>
            <td class="log-done">Сделано</td>
            <td class="log-done">Игровое лобби: возможность самостоятельно создать партию</td>
        </tr> -->
        <tr>
            <td>Планируется</td>
            <td>Идет работа над переносом "движка" с прошлой игры</td>
        </tr>
    </table>
</div>



{% endblock %}