{% extends 'base.html' %}

{% block content %}
{{ super() }}


<div class="container" style="font-size: 17px; margin-top: 30px;">
    <!-- <div>Планируется:</div> -->
    <table border="1">
        <!-- <tr>
            <td class="log-done">Сделано</td>
            <td class="log-done">Игровое лобби: возможность самостоятельно создать партию</td>
        </tr> -->
        <tr>
            <td>Внимание!!!</td>
            <td>Игра клиентская часть игры не вычисляет хватает ли баллов строительства на постройку. Необходимо считать самостоятельно.</td>
        </tr>
        <tr>
            <td>Внимание!!!</td>
            <td>Постройки на пищу производят "еду" и конкретное наименование, например "рыба", на данный момент потребление разных типов еды не реализовано и 
                поселение продает все именованые типы пищи.</td>
        </tr>
        <!-- <tr>
            <td>Планируется</td>
            <td>Идет работа над переносом "движка" с прошлой игры</td>
        </tr> -->
    </table>
</div>



{% endblock %}