	{% extends 'base.html' %}

	{% block content %}
	{{ super() }}

	{% for cat, msg in get_flashed_messages(True) %}
	<div class="flash {{cat}}">{{msg}}</div>
	{% endfor %}

	<div class="container">
		<form action="" method="post" class="form-contact container-other">
			<p><label>Login:</label> <input type="text" name="login" value="" required />
			<p><label>Password:</label> <input type="password" name="psw" value="" required />
			<p><input type="submit" value="Sign in" />
		</form>
	</div>


	{% endblock %}